@import "bootstrap";
@import "bootstrap3-switch";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.jumbotron {
    text-align: center
}

h2 {
  text-align: center
}

h3 {
  text-align: center
}

.btn-signup {
  color: white;
  background-color: #F27C33;
  border-color: #F27C33;
  border-radius: 4px
}

.btn-group {
  border-radius: 0px;
  border-radius: 4px;
}

.TimeLeft-Column {
  width: 100px;
  text-align: center;
}

.Completed-Column {
  width: 75px;
  text-align: center;
}

.red {
  color: #CC0000;
}

.green {
  color: #29A629;
}